@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientText {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-text {
  background: linear-gradient(270deg, #4f46e5, #ec4899, #3b82f6, #ec4899);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradientText 8s ease infinite;
}